{% extends "layout.html" %}
{% block content %}

<div class="container">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-1 mx-auto text-center">
    <h1 class="display-3" style="font-size: 4rem;">We're <span class="team-name"><strong>Team Tenacity!</strong></span></h1>
    <br />
  </div>

</div>


<div class="container-fluid">
  <p class="lead jumbotron message">
    This web app and all its underlying technology was painstakingly developed by us during the COVID-19 lockdown period, over the course of 4 months. We've put in a lot of efforts in this project and are actively looking for mentorship and proper guidance to help make our dreams come true.
  </p>
</div>

<h1 class="display-3 text-center title">DEVELOPED BY</h1>
<br />

<div class="container">

  <div class="row">

    <div class="col-md-5 text-center mr-auto ml-auto mb-5" id="card3">
      <div class="card mr-auto ml-auto" style="width: 70%;">
        <img alt="Anubhav Talukdar's photo" src="./static/assets/DP.jpg" class="card-img-top rounded-circle z-depth-2 p-3">
        <div class="card-body text-center">
          <h4 class="card-title">Anubhav Talukdar</h4>
          <p class="card-text">Team Leader</p>
          <a href="https://www.linkedin.com/in/anubhavtalukdar/" target="_blank" class="btn btn-primary">See LinkedIn profile</a>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-5 text-center mr-auto ml-auto mb-3" id="card2">
      <div class="card mr-auto ml-auto" style="width: 70%;">
        <img alt="Gairik Ray's photo" src="./static/assets/DP_1.jpg" class="card-img-top rounded-circle z-depth-2 p-3">
        <div class="card-body text-center">
          <h4 class="card-title">Gairik Ray</h4>
          <p class="card-text">Team Member #1</p>
          <a href="https://www.linkedin.com/in/gairik-ray-228377125/" target="_blank" class="btn btn-primary">See LinkedIn profile</a>
        </div>
      </div>
    </div>

    <div class="col-md-5 text-center mr-auto ml-auto mb-3" id="card3">
      <div class="card mr-auto ml-auto" style="width: 70%;">
        <img alt="Debabrata Pal's photo" src="./static/assets/DP_2.jpg" class="card-img-top rounded-circle z-depth-2 p-3">
        <div class="card-body text-center">
          <h4 class="card-title">Debabrata Pal</h4>
          <p class="card-text">Team Member #2</p>
          <a href="https://www.linkedin.com/in/debabrata-pal-718614193" target="_blank" class="btn btn-primary">See LinkedIn profile</a>
        </div>
      </div>
    </div>

  </div>
</div>

















{% endblock content %}
